/* You can add global styles to this file, and also import other style files */
button{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(176, 65, 65);
    color: white;
    border-color: white;
    cursor:pointer;
    
 }