<p>home works!</p>
<!-- <button (click)="search()">Search</button> -->
{{ name }}
<button (click)="changeTopicName()">Change Topic Name</button>

<button (click)="updateCourseList()">Update Course List</button>
<button (click)="getDetails('c101', 100)">Details</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Vehicle Type</th>
    </tr>
  </thead>

  <tr *ngFor="let vehicle of vehicleList">
    <td>{{ vehicle.MakeId }}</td>
    <td>{{ vehicle.MakeName | titlecase }}</td>
    <td>{{ vehicle.VehicleTypeName }}</td>
  </tr>
</table>
